<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 clearfix footer-col">
                <img src="/static/assets/images/logo-white.png">
                <div class="footer-slogan">动手做实验，轻松学IT</div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">公司</div>
                <a href="" target="_blank">关于我们</a><br>
                <a href="" target="_blank">联系我们</a><br>
                <a href="" target="_blank">加入我们</a><br>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">合作</div>
                <a href="" target="_blank">我要投稿</a><br>
                <a href="" target="_blank">教师合作</a><br>
                <a href="" target="_blank">高校合作</a><br>
                <a href="" target="_blank">友情链接</a><br>
                <a href="" target="_blank">开发者</a><br>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">服务</div>
                <a href="" target="_blank">企业版</a><br>
                <a href="" target="_blank">实战训练营</a><br>
                <a href="" target="_blank">会员服务</a><br>
                <a href="" target="_blank">实验报告</a><br>
                <a href="" target="_blank">常见问题</a><br>
                <a href="" target="_blank">隐私条款</a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">学习路径</div>
                <a href="" target="_blank">Python学习路径</a><br>
                <a href="" target="_blank">Linux学习路径</a><br>
                <a href="" target="_blank">大数据学习路径</a><br>
                <a href="" target="_blank">Java学习路径</a><br>
                <a href="" target="_blank">PHP学习路径</a><br>
                <a href="" ,="" target="_blank">全部</a>
            </div>
        </div>
    </div>
    <div class="text-center copyright">
        <span>Copyright @2018 实验楼在线教育</span>
        <span class="ver-line"> | </span>
        <a href="" target="_blank">陕ICP备13019762号</a>
    </div>

</div>
